.buttonStyle {
    margin-right: 20px;
}

.animalClass {
    margin-right: 1%;
    width: 8%;
    height: auto;
}
.animalImageClass {
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}