

.animalClassBtn {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 12%;
    height: auto;
}
.animalImageClass {
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
   
}
.imageDivStyle {
    
    float: left;
}
img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}
body {
background-image: url(images/what-the-hex.png);
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
}