

.animalClassBtn {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 12%;
    height: auto;
}
.animalImageClass {
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
   
}
.imageDivStyle {
    
    float: left;
}
img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}